@font-face {
  font-family: SofiaProBlack;
  src: url('@/assets/fonts/SofiaProBlack.ttf');
}
@font-face {
  font-family: SofiaProBlackItalic;
  src: url('@/assets/fonts/SofiaProBlack-Italic.ttf');
}
@font-face {
  font-family: SofiaProBold;
  src: url('@/assets/fonts/SofiaProBold.ttf');
}
@font-face {
  font-family: SofiaProBoldItalic;
  src: url('@/assets/fonts/SofiaProBold-Italic.ttf');
}
@font-face {
  font-family: SofiaProExtraLight;
  src: url('@/assets/fonts/SofiaProExtraLight.ttf');
}
@font-face {
  font-family: SofiaProExtraLightItalic;
  src: url('@/assets/fonts/SofiaProExtraLight-Italic.ttf');
}
@font-face {
  font-family: SofiaProLight;
  src: url('@/assets/fonts/SofiaProLight.ttf');
}
@font-face {
  font-family: SofiaProLightItalic;
  src: url('@/assets/fonts/SofiaProLight-Italic.ttf');
}
@font-face {
  font-family: SofiaProMedium;
  src: url('@/assets/fonts/SofiaProMedium.ttf');
}
@font-face {
  font-family: SofiaProMediumItalic;
  src: url('@/assets/fonts/SofiaProMedium-Italic.ttf');
}
@font-face {
  font-family: SofiaProRegular;
  src: url('@/assets/fonts/SofiaProRegular.ttf');
}
@font-face {
  font-family: SofiaProRegularItalic;
  src: url('@/assets/fonts/SofiaProRegular-Italic.ttf');
}
@font-face {
  font-family: SofiaProSemiBold;
  src: url('@/assets/fonts/SofiaProSemiBold.ttf');
}
@font-face {
  font-family: SofiaProSemiBoldItalic;
  src: url('@/assets/fonts/SofiaProSemiBold-Italic.ttf');
}
@font-face {
  font-family: SofiaProUltraLight;
  src: url('@/assets/fonts/SofiaProUltraLight.ttf');
}
@font-face {
  font-family: SofiaProUltraLightItalic;
  src: url('@/assets/fonts/SofiaProUltraLight-Italic.ttf');
}
